* {
    margin: 0;
    padding: 0;
    user-select: none !important;
    background-color: #222222;
}

body {
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.wrapper-div > button {
    cursor: pointer;
    transition: all 200ms;
    border: solid 1px white;
    margin-bottom: 10px;
}

.wrapper-div > button:hover {
    background-color: transparent !important;
    color: white !important;
}