* {
    margin: 0;
    padding: 0;
    user-select: none !important;
}

body {
    height: 100%;
    min-height: 200vh;
    overflow-y: auto;
    overflow-x: hidden !important;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 200ms;
    border-radius: 10px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

button:focus {
    background-color: rgb(10, 132, 255);
}