* {
    margin: 0;
    padding: 0;
    user-select: none !important;
}

body {
    height: 100%;
    min-height: 200vh;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.wrapper-div > button {
    cursor: pointer;
    transition: all 200ms;
    border: solid 1px white;
}

.wrapper-div > button:hover {
    background-color: transparent !important;
    color: white !important;
}